*{

    box-sizing: border-box;

}

body{

    font-family: 'Outfit', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: hsl(32, 40%, 88%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

h1, h3{

    font-family: 'Young Serif', serif;

}

h1{

    font-weight: 400;

}

.img{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

img{

    width: 100%;
    border-radius: 15px;
    
}


.container{

    display: flex;
    flex-direction: column;
    width: 45%;
    padding: 15px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    padding: 30px;
    margin: 50px 0px 50px 0px;
}

.first_paragraph > p{

    font-size: 14px;
    padding-bottom: 21px;
}

.Preparation_time{

    background-color: hsl(310, 50%, 98%);
    border-radius: 10px;

}

.Preparation_time > ul{

    list-style: hsl(310, 50%, 98%);

}

.Preparation_time > ul > li{

    list-style: none;
    font-size: 14px;
    line-height: 2.3;

}

.Preparation_time > ul > li::before{

    content: "•"; color: hsl(333, 25%, 35%);
    display: inline-block;
    width: 1em;
    margin-left: -1em;

}

.Preparation_time > h2 {

    font-size: 16px;
    font-family: 'Outfit', sans-serif;
    color:hsl(333, 25%, 35%);
    padding-left: 23px;

}

.Ingredients > h3{

    font-size: 1.8rem;
    font-weight: 300;
    color: hsl(14, 45%, 36%);

}

.Ingredients > ul{

    padding-inline-start: 20px

}

.Ingredients > ul > li{

    list-style: none;
    font-size: 14px;
    line-height: 2.3;

}

.Ingredients > ul > li::before{

    content: "•"; color: hsl(333, 25%, 35%);
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    padding-right: 1rem;

}

hr {
    border: none;
    height: 0.5px;
    background-color: #000;
    margin: 20px 0;
}

.Instructions > h3 {

    font-size: 1.8rem;
    font-weight: 300;
    color: hsl(14, 45%, 36%);

}

.Instructions > ol{

    padding-inline-start: 0px;
}

.Instructions > ol > li{

    
    font-size: 14px;
    padding-left: 1em;
    list-style: none;
    counter-increment: li;

}

.Instructions > ol > li::before{

    content: counter(li); color: hsl(14, 45%, 36%);
    display: inline-block;
    width: 2em;
    margin-left: -1em;

}
  
.Nutrition > h3 {

    font-size: 1.8rem;
    font-weight: 300;
    color: hsl(14, 45%, 36%);

}

.Nutrition_table{

    display: grid;
    grid-template-columns: auto auto;

}

.Nutrition_table > p{

    display: flex;
    justify-content: start;
    align-items: center;
    border-bottom: 1px solid grey;
    padding : .1rem 2rem;

}

.brown{

    color: hsl(14, 45%, 36%);

}